/* Fix chat stop icon is not display in copilot mode */
.stop-icon {
    background-color: var(--stop-icon-color, currentColor);
    -webkit-mask-image: var( --stop-icon-mask, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Crect x='7' y='7' width='10' height='10' rx='1.25' fill='white'/%3E%3C/svg%3E") );
    mask-image: var( --stop-icon-mask, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Crect x='7' y='7' width='10' height='10' rx='1.25' fill='white'/%3E%3C/svg%3E") );
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    animation: var(--stop-icon-animation, none)
}
/* Fix loading cursor in copilot mode */
.loading-cursor {
    width: var(--loading-cursor-size, .875rem);
    height: var(--loading-cursor-size, .875rem);
    background-color: var(--loading-cursor-color, hsl(var(--foreground)));
    border-radius: 9999px;
    -webkit-mask-image: var(--loading-cursor-mask, none);
    mask-image: var(--loading-cursor-mask, none);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    animation: var( --loading-cursor-animation, loading-cursor-pulse 2s cubic-bezier(.4, 0, .6, 1) infinite )
}

#chainlit-copilot-chat .positive-feedback-off,
#chainlit-copilot-chat .positive-feedback-on,
#chainlit-copilot-chat .negative-feedback-off,
#chainlit-copilot-chat .negative-feedback-on,
#chainlit-copilot-chat button:has(svg.lucide-message-circle) {
    display: none !important;
}

#chainlit-copilot-chat div[data-step-type="assistant_message"] img {
    background-color: white;
}

@keyframes loading-cursor-pulse {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .4
    }
}
